# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
dist
build
.turbo

# Env
.env
.env.local

# Storage
.storage

# Prisma
packages/db/prisma/migrations/**/migration_lock.toml

# IDE
.idea
.vscode
.vercel

# Env
.env*.local

# Test
playwright-report
test-results

# OS
.DS_Store
Thumbs.db
